@import "../../config";

.tools {
	width: 95%;
	margin: auto;
	label {
		text-indent: unset;
	}
	input {
		border-radius: 0.6rem;
	}
	input[type=radio]::after {
		bottom: 0.1em;
		right: unset;
	}
	select {
		border-radius: 0.5rem;
	}
	h2 {
		margin-bottom: 0.5rem;
		margin-top: 3rem;
		color: #042A46;
		font-size: 1.31rem;
		line-height: 28px;
		font-family: "Roboto";
		font-weight: 700;
		font-family: "Roboto", sans-serif;
	}
}

.tools-section,
.tools-section-2 {
	border-width: 1px;
	border-color: #30BFD3;
	border-radius: 1rem;
	padding: 5px;
}

.tools-section-2 {
	border-style: solid;
}

.tools-section .scrow,
.tools-section-2 .scrow{
	display: flex;
}
.tools-section .scrow div:first-child,
.tools-section-2 .scrow div:first-child {
	flex-grow: 2;
	color: #30BFD3;
	font-weight: 700;
}

.tools-section .tools-content {
	overflow: hidden;
	transition: max-height 0.5s;
}

.body-copy-p {
	margin-bottom: 50px;
}

.tools-section-2-snippet {
	background-color: aliceblue;
	min-height: 50px;
	font-size: 0.8rem;
	margin-top: 10px;
	margin-bottom: 20px;

	& textarea {
		background-color: aliceblue;
		border: 0;
		min-width: 100%;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;  
		font-family: "IBM Plex Mono", monospace;
		font-size: 1em;
		color: black;
		&#copy-header {
			min-height: 300px;
		}
		&#copy-body {
			min-height: 70px;
		}
	}
}

.tools-code-snippet {
	position: relative;
	margin-top: 1.5rem;
	.copy-icon {
		position: absolute; 
		top:0; 
		right: 0; 
		padding-right: 5px;
		padding-top: 5px;
	}
	.copy-icon:hover + .copy-info{
		opacity: 1;
	}
	.copy-info {
		position: absolute;
		right: 0;
		top: 1.5rem;
		opacity: 0;
		background-color: #042A46;
		border-radius: 0.5rem;
		p {
			padding: 0.1rem 0.7rem;
			color: aliceblue;
			margin-bottom: 0rem;
			font-size: 80%;
		}
	}
	textarea {
		background-color: rgba(196, 196, 196, 0.38); 
		min-width: 100%; 
		border-color: rgba(196, 196, 196, 0.38); 
		height: 259px; 
		resize: none;
	}
}

.divider {
	border-bottom: 1px solid rgba(0,0,0,.12);
	padding-bottom: 0.5rem;
}
.tools {
	&-title {
	span {
		line-height: 1.6;
	}
}
	&-table td a {
		text-decoration: underline;
	}

	&-table td:last-child {
		line-height: 1.6;
	}
}

.tools-settings-form {
	margin-bottom: 0rem;
	position: relative;
	h3 {
		margin-block-start: 0;
	}
	hr {
		color: rgba(0, 0, 0, 0.12)
	}
	section {
		margin: 1.5rem auto 2rem .2rem;
	}

	ul {
		list-style-type:none;
		margin-bottom: 0;
	}

	&-table-about {
		font-weight: bold;
	}

	&-settings-form {
		margin-bottom: 1rem;
		position: relative;
		h3 {
			margin-block-start: 0;
		}
		hr {
			color: rgba(0, 0, 0, 0.12)
		}
		section {
			margin: 20px 0px 20px 0px;
		}
		ul {
			list-style-type:none;
			margin-bottom: 0;
		}
		ul:after {
			content: "";
			display: table;
			clear: both;
		}
		li {
			float: left;
			margin-right: 3%;
			width: 35%;
			width: auto;
			margin-bottom: 0;
		}
	}
	.group-button {
		display: inline-block;
		margin: 5rem auto 1rem auto;
		#preview-button {
			background-color: #042A46;
			border-color: #042A46;
			margin-right: 1rem;
		}
		input {
			height: 3.3rem;
			width: 12.5rem;
		}
	}
}

#id_is_custom_domain {
	float: left;
	margin-right: 3%;
}

#custom-domain-label{
	margin-bottom: 0.5rem;
	float: left;
	width: 60%;
	text-transform: unset;
}


.copy-script-header {
	display: flex;
	flex-wrap: wrap;
	div:first-child {
		width: 64%;
		margin: 0 0 10px 0;
	}
	div:last-child {
		flex-grow: 1;
		max-width: 260px;
		input {
			background-color: #042A46;
			border-color: #042A46;
		}
		margin: 0 0 10px 0;
	}
}

#id_authentication_type, #id_template_type {
	.tooltip {
		display: inline;
	}
	.tooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: black;
		opacity: 50%;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		margin-top: 50px;
		font-size: small;
		
		/* Position the tooltip */
		position: absolute;
		z-index: 1;
	}
	
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}
	  
	label {
		display: inline-block;
		background-color: aliceblue;
		padding: 15px 40px;
		border-radius: 10px;
		margin: 0;
		border: 1px solid #30BFD3;
		text-indent: 0;
	}

	label:hover {
		background-color: $color-brand-light;
	}

	input[type="radio"]:checked + label {
		background-color: $color-brand-alternate;
		color: #042A46;
	}

	input[type="radio"]:focus + label{
		border: 2px dashed $color-brand-alternate;
	}
	input[type="radio"] {
		opacity: 0;
		position: fixed;
		width: 0;
	  }
	li {
		display: inline-block;
	}
}

.tools-settings-form:after {
	content: "";
	display: table;
	clear: both;
}

.conversation-component{
	& button{
		float: right;
	}
	#copy-body-message {
		display: none;
		font-weight: bold;
	}	
	
	#copy-header-message {
		display: none;
		font-weight: bold;
	}
}

#preview-template {
	table tbody tr {
		background: none !important;
	}
}

#domain-input {
	margin-left: 2px;
	margin-bottom:15px;
	margin-top: unset;
}


.iframe-section {
	height: 100%;
	width: 100%;
	margin: 5% auto;
}

.color-choice {
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 0.1rem;
	height: 1.2rem;
	width: 1.2rem;
}

#preview-template {
	height:750px;
	width: 100%;
	position: relative;
	display: inline-block;
}

#info_credential_mautic {
	text-align: center;
	font-size: 14px;
}

#centered-input input {
	margin: auto;
	display: block;
	margin-bottom: 0.5rem;
}

.label-mautic-form {
	margin: auto;
	max-width: 30rem;
	margin-bottom: 0.5rem;
}

.table-header { 
	font-style: normal;
	font-weight: bold;
	font-size: 14.4px;
	line-height: 17px;
	color: #30BFD3;
	padding: 20%;
	background-color: none;
}

.url-table td {
	font-style: normal;
	font-size: 14.4px;
	line-height: 17px;
	border-bottom: 1px solid #BABABA;
	border-top: 1px solid #BABABA;
}

#is-primary-centered {
	background: #042A46;
	border-radius: 10px;
	border: #042A46;
	margin: 0 auto;
    display: block;
	height: 50px; 
	border-top: 1px solid #BABABA;
	padding: 10px;
}

#template-table {
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	tbody tr {
		background: none !important;
	}
}

.form-div {
	padding-left: 0.75rem;
}

.domain-form {
	display: flex;
	justify-content: space-between;
	input:first-child {
		margin-right: 10px;
		box-sizing: content-box;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		margin-bottom: unset;
		margin-top: unset;
		max-width: unset;
		min-width: unset;
	} 
	#domain-submit {
		height: unset;
		margin: unset;
		box-sizing: content-box;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
	}
}

#domain-label {
	margin-bottom: 0.5rem;
	text-transform: capitalize;
}

.width-full-extended {
	margin-bottom: 0.25rem;
	margin-top: 1rem;
}

#description-info {
	margin-bottom: 0rem;
	margin-top: 1.25rem;
}
#th-remove {
	text-align: end;
}
#td-remove {
	text-align: end;
}

.display-down {
	margin-right: 10px; 
	cursor: pointer;
	label {
		cursor: pointer;
		color: unset;
		margin-bottom: unset;
		font-size: 1.5rem;
		transition: transform 2s;
	}
	#isexpanded1, #isexpanded2 {
		display: none;
	}
}
#isexpanded1:checked + label > i {
	transform: rotate(180deg);
}

#isexpanded2:checked + label > i {
	transform: rotate(180deg);
}


#custom-field-section, #component-opinion-section {
	opacity: 0;
	animation: fadeIn 0.5s;
	-webkit-animation: fadeIn 0.5s;
	-moz-animation: fadeIn 0.5s;
}

#custom-field-section {
	label:first-letter {
		text-transform: uppercase;
	}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
@-moz-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.modal {
	display: none;
	left: 25%;
	top: 0;
	position: absolute;
	z-index: 2;
	width: 50%;
	margin: 10% auto;
}

.modal-background {
	background-color: rgba(0,0,0,0.4); 
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
}

.modal-content {
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.35);
	padding: 0.5rem;
	.close {
		color: #aaa;
		position: absolute;
		z-index: 1;
		right: 0;
		margin-right: 1rem;
		font-size: 3rem;
		font-weight: bold;
		top: -0.9rem;
	}
	.close:hover, .close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}
}

@media (max-width: 768px) {
	#page-wrapper {
		.modal {
			width: 100vw;
			left: 0;
			margin: 15% auto;
		}
		#preview-template {
			height: 850px;
		}
	}
}