{% extends 'base.jinja2' %}

{% set lang = get_language() %}
{% set page = request.GET.page|default('index.html') %}
{% set path = '/static_docs/{0}'.format(page) if lang == 'en-us' else '/static_docs/i18n/{0}/{1}'.format(lang, page) %}
{% set hide_menu = true %}


{% block main %}
    <script>
        function resizeIframe(obj) {
            obj.style.height = (obj.contentWindow.document.querySelector(".wy-nav-content").scrollHeight) + 'px';
        }
    </script>
    <div id="docs">
        <iframe src="{{ path }}" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
    </div>
{% endblock %}
