<ul id="id_authentication_type" style="list-style: none;">
    {% for _, lst, __ in widget.optgroups %}
        {% set params = lst[0] %}
        {% if params.value != 'mailchimp' %}
          <li title="{{ params.value }}">
              <div class="tooltip">
                  <i class="far fa-question-circle">
                      <span class="tooltiptext">{{params.attrs[params.value]}}</span>
                  </i>
              </div>
                  <input type="radio"{% if params.selected %} checked{% endif %} name="authentication_type" id="id_authentication_type_{{ params.value }}" value="{{ params.value }}">
              <label for="id_authentication_type_{{ params.value }}">
                  {{ params.label }}
              </label>
          </li>
        {% endif %}
    {% endfor %}
</ul>