#conversation-dataviz-page {

    .welcome-message, .collecing-data-state {
        margin: auto auto 3rem auto;
        max-width: 800px;
        text-align: center;
    }

    .title {
        text-align: left;
        h1 {
            font-size: 2rem;
        }
    }

    .conversation-title {
        text-align: center;
        margin: 2rem 0 0 0;
    }

    #aquisition-viz {
        height: 100%;
        width: 100%;
    }

    .empty-viz {
        text-align: center;
        width: 60%;
        margin: auto;

        form {
            display: none;
            text-align: center;
            width: 60%;
            margin: auto;
        }
    }


    #aquisition-date-start, #aquisition-date-end, #aquisition-utm-source, #aquisition-utm-campaign, #aquisition-utm-medium {
        min-width: 9rem;
        max-width: 9rem;
        font-size: 0.8rem;
    }

    #aquisition-utm-source, #aquisition-utm-campaign, #aquisition-utm-medium {
        min-width: 11rem;
        max-width: 11rem;
    }
    .card {
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        width: 90%;
        background-color: white;
        max-width: 1000px;
        margin: 2rem auto auto auto;
        &-header {
            &-title {
                span {
                    color: #042A46;
                    font-family: "Patua One";
                }
                flex-grow: 20;
                padding: 1rem;
            }
            &-daterange{
                display: flex;
                flex-grow: 1;
                div {
                    margin-right: 0.4rem;
                }
                margin-top: 0.5rem;
            }
            display: flex;
            border-bottom: 1px solid #00000030;
        }
        &-body {
            min-height: 50vh;
            &-content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                &-infos {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 350px;
                    height: 350px;
                    margin-top: 2rem;
                    &-subcard {
                        width: 15rem;
                        height: 10rem;
                        border: solid 1px #00000030;
                        padding: 1.5rem;
                        border-radius: 1rem;
                        margin-right: 1rem;
                        span:last-child {
                            font-weight: bold;
                        }
                    }
                    display: none;
                }
                &-vizualization {
                    display: none;
                    max-width: 450px;
                    min-width: 400px;
                    padding: 2rem;
                }
                &-loading {
                    text-align: center;
                    margin: 3rem auto;
                }
            }
            &-error-invalid-analytics, &-error-invalid-dates {
                display: none;
                text-align: center;
                width: 100%;
                margin: 3rem auto;
            }
        }
        &-filters {
            min-height: 15vh;
            padding: 0.7rem;
            &-title {
                span {
                    color: #30BFD3;
                    font-weight: bold;
                }
            }
            &-body {
                &-utm {
                    display: flex;
                    flex-wrap: wrap;
                    div {
                        margin-left: 1rem;
                    }
                    label {
                        font-size: 0.8rem;
                        text-indent: unset;
                    }
                }
            }
        }
    }

    .horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
    display: flex;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 0px -2px rgba(0, 0, 0, 0.35);
    }

    li {
        margin: 0;
    }

    li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1rem;
    }

    li a.active {
    background-color: inherit;
    color: #042A46;
    border-bottom: solid 0.3rem #042A46;
    }
}
